<%- include('partials/header'); -%>
<<<<<<< HEAD

<%  for (var i = 0; i < homeTitle.length; i++) { %>
  <h1><%= homeTitle[i] %></h1>
  <p><%= homePost[i] %></p>
<%  }  %>
=======
<% for (var i = 0; i < homeTitle.length; i++) { %>
  <h1><%= homeTitle[i] %></h1>
  <p><%= homePost[i] %></p>
<% } %>
>>>>>>> improve
<%- include('partials/footer'); -%>
