<%- include('partials/header'); -%>
<<<<<<< HEAD
<<<<<<< HEAD

<%  for (var i = 0; i < homeTitle.length; i++) { %>
  <h1><%= homeTitle[i] %></h1>
  <p><%= homePost[i] %></p>
<%  }  %>
=======
=======
  <h1><%= homeTitleUnchanged %></h1>
  <p><%= homePostUnchanged %></p>
>>>>>>> improve
<% for (var i = 0; i < homeTitle.length; i++) { %>
  <h1><%= homeTitle[i] %></h1>
  <p><%= homePost[i].substring(0, 99) + " ... " %><a href="/post/<%= homeTitle[i].toLowerCase() %>">Read More</a></p> 
<% } %>
>>>>>>> improve
<%- include('partials/footer'); -%>
